@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}


@font-face {
    font-family: 'HealthsetBambooStd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HealthsetBambooStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body,
html > body input,
html > body select,
html > body textarea,
html > body pre,
html > body button {
  font-family:"HealthsetBambooStd";
  color: #070303;
  text-underline-position: under;
  line-height:1.3;
}
